.element__like {
    padding: 0;
    margin: 30px 20px 0 19px;
    transition: 0.3s;
    width: 22px;
    height: 19px;
    background: none;
    background-image: url(../../../images/Vector.svg);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    justify-self: flex-end;
}

.element__like:hover {
    cursor: pointer;
    opacity: 0.5;
}

.element__like:active {
    cursor: pointer;
    background-image: url(../../../images/Union.svg);
    opacity: 1;
}