.profile__edit-button {
    width: 10px;
    height: 10px;
    padding: 7px 7px 7px 7px;
    position: absolute;
    top: 13px;
    right: 21px;
    border: solid 1px white;
    object-fit: cover;
    transition: 0.3s;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .profile__edit-button {
        top: 45%;
        right: -40px
    }
}

@media screen and (max-width: 425px) {
    .profile__edit-button {
        right: -28px;
        width: 5.25px;
        height: 5.25px;
        padding: 6.125px 6.125px 6.125px 6.125px;
    }
}