.profile__edit-button {
    width: 22px;
    height: 22px;
    padding: 7px 7px 7px 7px;
    margin: 0 0 0 18px;
    border: solid 1px white;
    transition: 0.3s;
    align-self: center;
    background: none;
    background-image: url(../../../images/Edit-Button.svg);
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
}

.profile__edit-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        padding: 6.125px 6.125px 6.125px 6.125px;
        margin: 0 0 0 10px;
        background-size: 7.5px 7.5px;
    }
}