.profile__heading {
    margin: 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .profile__heading {
        text-align: center;
    }
}

@media screen and (max-width: 425px) {
    .profile__heading {
        font-size: 27px;
        line-height: 33px;
        width: auto;
    }

    .profile__heading::before {
        width: 18px;
        height: 18px;
    }
}