.profile {
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 30px;
    padding: 40px 19px 0 19px;
    align-items: center;
}

@media screen and (max-width: 425px) {
    .profile {
        max-width: 425px;
        padding: 42px 19px 0 19px;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        max-width: 768px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
    }
}