.popup__close-button {
    width: 32px;
    height: 32px;
    position: absolute;
    top: -40px;
    right: -40px;
    transition: 0.3s;
    margin: 0;
    padding: 0;
    background: none;
    background-image: url(../../../images/Close-Icon.svg);
    background-size: cover;
    border: none;
}

.popup__close-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        top: -30px;
        right: 0;
    }
}