@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/profile/__image/profile__image.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__heading/profile__heading.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__caption/element__caption.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__background/element__background.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__field/popup__field.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
